h1 {
  text-shadow: 2px 2px blue;
  color: #36CFFF;
}
#rc1 {
  border-radius: 10px;
  background: #FF0000;
  width: 200px;
  height: 150px;
  padding: 20px;
}
.rc2 {
  border-radius: 25px;
  border: 2px solid #8AC007;
  padding: 20px;
  width: 400px;
  height: 80px;
  # background: url(./dogs.jpg
  background: -webkit-linear-gradient(pink,green);
  background: -o-linear-gradient(pink,green);
  background: -moz-linear-gradient(pink,green);
  background: linear-gradient(pink,green);
}
h2 {
  color: black;
}
.sh1 {
  box-shadow: 5px 10px #888888;
  font-family: courier, garamond, serif;
  font-weight: 500;
}
